::-webkit-calendar-picker-indicator {
   filter: invert(1);
}
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
/* Setting the box-sizing to border and box 
and 
the default margin and padding to 0 to override the margin and padding from the browser
also we are giving it in * selctor as box-sizing isn not a inherited property  */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* font-size: calc(0.75vh + 0.75vw); */
}
body{   
   line-height: 1.4;
   height: 1000px;
   background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0% no-repeat padding-box;
   opacity: 1;
   font-family: 'Ubuntu', sans-serif !important;
   color: #FFF;
   position: relative;
}
/*  to prevent the default styling such as getting  underlined and a purple color on clicking the link*/
a{
   text-decoration: none;
   display: inline-block;
}
/* To take 100% space of its container */
img{
   width: 100%;
}
/* Reducing font-weight */
h1,h2,h3{
   font-weight: 300;
}
/* By default ul comes with a padding so to remove it */
ul{
   padding: 0;
}
/* To remove the bullets */
li{
   list-style: none;
}
hr {
   color: #283A46;
   background-color: #283A46;
   height: 3px;
   border: 1px #283A46;
   margin-bottom: 10px;
}
button {
   cursor: pointer;
}
                                    /* Utlility Classes */
.container {
   max-width: 1500px; /* so that it doesnt exceeds more than that*/
   margin: auto; /*will center it automatically*/
   padding: 0 1rem;
   overflow: hidden; /*to prevent scroll bars*/
}

                                       /* Header */
header {
   height: 70px;
   /* position: sticky;
   top: 0; */
   /* z-index: 2; */
   margin-bottom: 1rem;
}

header .container{
   display: grid;
   grid-template-columns: 1fr 4fr 1fr;/* so that high radius logo is at center there an extra 1fr*/
   align-items: center;
}
header .test{
   justify-self: flex-end;
   padding-top: 0.8rem;
   text-align: center;
   align-self: center;

}
header .logo{
   justify-self: center;
   width: 180px;
   text-align: center;
   align-self: center;
}


                                                    /* Main  */

/* Grid  */
#grid {
   background-color: #273D49CC;
   height: 800px;
   padding: .8rem 1rem;
}
/* Button Section */
.buttons-section {
   display: flex; /*to make them go left*/
   align-items: center;
   justify-content: flex-end;
}
.buttons-section img{
   height: 15px;
   width: 15px;
}
/* selecting everything inside the buttons-section and giving them margin and padding */
.buttons-section > * {
   margin-top: 20px;
   margin-bottom: 30px;
   padding-left: 10px;
}
.btn{
   background-color: #273D49CC;
   display: inline-block;
   padding: 4px 10px;
   border: .1px solid #14AFF1;
   color: #FFF;
   border-radius: 5px ;
   font-family: 'Ubuntu', sans-serif;
   margin-left: 5px;
   margin-right: 10px;
}
.btn-disabled{
   padding: 4px 10px;
   border: .1px solid #97A1A9;
   color: #97A1A9;
   
}
.btn img{
   width: 10px;
   height: 10px;
   margin-right: 7px;
}
#search {
   font-size: 12px;
   width: 15rem;
    padding: 7px 15px;
    border: none;
    background-color: #283A46;
    color: #fff;
   text-align: left;
   position: relative;

}
/* to prevent the default outline styling when we click on an input */
#search:focus {
   outline: none;
   border: 1px solid #356680;
   border-color: #356680;
   outline-offset: 0; /*to prevent increase in size of input*/

}
#search::placeholder {
   color: #97A1A9;
   font-family: 'Ubuntu', sans-serif;
   font-style: italic;
}
#search-img {
   background-color: #283A46;
   /* position: relative;
   top: 10.5px; */
   margin-right: 20px;
   height: 28px;
   width: 25px;
   padding-left: 3px;
   padding-right: 5px;
   display: inline-block;
   /* transition: .4s; */
   /* transition-timing-function: ease-in-out; */
}
#search-img:hover {
   border:1px solid #356680;
   border-radius: 2px;
   
}

                           /* Data TAble */
.table-prev,
.table-next {
   color: #14AFF1;
   align-self: center;
   cursor: pointer;
}
.disable {
   color: #39495E;
}
#data-table {
   display: flex;
   flex-direction: row;
}
#data-table ul {
   display: grid;
   grid-template-columns: 1fr;
   padding: 1rem 1rem;
}
/*  */
#data-table #list-heading {
   margin-bottom: 1rem;
   color: #97A1A9;
   font-size: .87rem;
}
#data-table .list-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
   column-gap: 1.5rem;
   padding:.66rem .7rem;
   text-align: center;
   justify-content: center;
   align-items: center;
}
 #data-table .list div:first-child input[type="checkbox"] {
   margin-right: 7px;
   position: relative;
   top: 2.5px;
}

#data-table ul .list:nth-child(n+1) .list-container .notes{
   white-space: nowrap; 
   overflow: hidden;
   
   text-overflow: ellipsis; 
   text-align: left;
}
#data-table ul .list .list-container {
   text-align: right;
}
#data-table ul .list:first-child .list-container.notes{
   text-align: left;
}
#data-table ul .list:nth-child(n+1) .list-container .customer-name {
   display: flex;
   text-align: left;
}
#data-table ul .list:nth-child(n+1) .list-container .ppd {
   text-align: center;
}
/* giving li diff colors excluding the header list */
#data-table ul .list:nth-child(2n):not(:first-child) {
   background-color: #283A46;
   border-radius: 5px;
}

.red {
   color: #FF5B5B;
   color: #FF5E5E;
   
}

/*                                                            Form */
.form-container {
   background-color: #2A3E4C;
   /* height: 470px; */
   width: 800px;
   margin: 0 auto;
/* enable form */
   position: fixed;
   top: 100px;
   left: 300px;
   
   z-index: 1;
   border: 2px solid #283A46;
   border-radius: 5px;
   /* visibility: hidden; */
}
.enable-form {
   visibility: visible ;
}
.form-container .form-place {
   width: calc(100% - 10%);
   margin: 0 auto;
}
.form-container .form-heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   padding-top: .8rem ;
   padding-bottom: .8rem ;
}
.form-container .form-heading img{
   height: 15px;
   width: 15px;
}
.form-container .form-details {
  
   display: grid;
   grid-template-columns: repeat(2,1fr);
   padding-top: 1rem;
   padding-bottom: 1rem;
   height: 300px;
   font-size: .85rem;
   color: #97A1A9;
   font-family: 'Ubuntu', sans-serif;
   /* padding: 1rem; */
}
.form-container .form-edit-adjust {
   display: initial;

}
.form-container .form-edit-adjust  label{
   font-size: 1rem;
   text-align: left;
   padding-left: 6rem;

}
.form-container .form-left,
.form-container .form-right,
.form-container .form-new {
   display: grid;
   row-gap: 28px;
   /* column-gap: 50px; */
}
.form-container .form-left label,
.form-container .form-right label,
.form-container .form-new label{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
.form-container .form-center {
   grid-template-columns: 1fr;
   margin: 0 auto;

}
.form-container .form-center textarea{
   width: 200px;

}
.form-container .form-group {
   display: grid;
   grid-template-columns: .5fr 1fr;
   column-gap: 20px;
   margin-bottom: 10px;
   
}
.form-container  input {
   width: 200px;
   height: 30px;
   font-size: 14px;
   /* width: 15rem; */
    padding: 7px;
    border: 0.5px solid #356680;
    background-color: #283A46;
    border-radius: 5px;
    color: #fff;
    outline: none;
    /* color: #fff; */
   /* text-align: left; */
   /* position: relative; */

}
.form-container .form-adjustY {
   display: flex;
   justify-content: center;
   align-items:center;
   height: 160px;
   /* text-align: center; */
}
.form-container  textarea {
   padding: 7px;
   font-size: 14px;

   border: 0.5px solid #356680;
    background-color: #283A46;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

.is-required::after {
   content: "*";
   color: #d64161;
   padding-left: 5px;
}

.form-buttons-section {
   padding-top: .5rem;
   padding-bottom: .7rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.two-btns {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding-right: 2rem;
   padding-bottom: 1.1rem;
}
.form-btn {
   padding: 7px 20px;
}
.primary-btn {
   background-color: #14AFF1;
}
.form-delete-btn {
   padding: 10px 25px;
}
.form-btn-disable {
   background-color: #97A1A9;
}

.form-delete {
   font-size: 1.2rem;
   padding: 1rem;
   width: 100%;
}
/* ****************** */
#no-result-img {
   width: 50px;
   height: 50px;
}
.primary {
   color: #14AFF1;
}
.no-results {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   margin-top: 5rem;
   margin-left: 5rem;
}
.no-results > * {
   /* padding: 1rem; */
   margin: 1rem;
}
#append-here {
   height: 100%;
}